@{
    ViewData["Title"] = "Home Page";
}
@using FormsApp.Models.User
@model User




<a href="user/Register">Kayıt ol</a>
<a href="user/Register">Giriş yap</a>
<a href="user/Login">Okul kaydet</a>


